body{
    padding: 0% 10%;
    font-family: 'Arima Madurai';
}
.container{
    display: grid;
}
.content-header{
    justify-self: stretch;
    background-color: #8080801f;
    padding: 10px 10px;
}
.content-body{
    background-color: #8080800a;
}
.margin-0{
    margin:0;
}
.font-italic{
    font-style: italic;
}